# Maven target directory
target/

# STS project files
.classpath
.project
.settings/
.factorypath

# Compiled Java class files
*.class

# Log files
*.log
log/
logs/

# IntelliJ IDEA files
.idea/
*.iml

# Eclipse files
*.pydevproject
.project
.settings/
*.launch
*.classpath
*.springBeans

# Gradle files
.gradle/
build/

# Spring Boot files
bin/
*.jar
*.war

# Miscellaneous
Thumbs.db
.DS_Store
